<div class="container">
    <header>
        <h1 class="text-center"><i class="fas fa-hamburger"></i> Eat Da Burger !</h1>
    </header>

    {{!-- FORM --}}
    <form class="text-center mx-auto col-6">
        <div class="form-group">
            <input type="text" class="form-control" id="inputBurger">
        </div>
        <button id="submit" type="submit" class="btn btn-warning">Submit</button>
        <p style="color:gray">Enter a burger you want to eat Click the "Submit" button</p>
    </form>

    

    {{!-- not devoured --}}
    <div class="row">
        <div id="devourFalse" class="col-6">
            <ul class="list-group">
            {{#each burger}}
                {{#unless devoured}}
                <li class="list-group-item">
                    <form class="mb-0" style="height: 30px;">
                        <div class="row">
                            <div class="col-6">
                                <p>{{id}}. {{burger_name}}</p>
                            </div>
                            <div class="col pr-0">
                                <input type="text" class="form-control form-control-sm" id="inputCustomer" placeholder="Customer?"> 
                            </div>
                            <div class="col pl-0">
                                <button data-id={{id}} type="button" class="btn btn-outline-secondary btn-sm devour">Devour it!</button>
                            </div>
                        </div>
                    </form>
                </li>
                
                {{/unless}}
            {{/each}}
            </ul>
        </div>
            

        {{!-- devoured --}}
        <div id="devourTrue" class="col-6">
            <ul class="list-group">
            {{#each burger}}
                {{#if devoured}}
                <li class="list-group-item list-group-item-secondary">{{id}}. {{burger_name}} ( eaten by {{Customer.customerName}})</li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>

</div>

<script type="text/javascript">
    //click submit
    $("#submit").on("click", function(event){
        event.preventDefault();

        var newBurger = {
            burger_name : $("#inputBurger").val().trim()
        };
        
        $.ajax("/api/burgers", {
            method : "POST",
            data : newBurger
        }).then(function(){
            console.log("added burger : ", $("#inputBurger").val().trim());
            location.reload();
        });
        //clear form
        $("#inputBurger").val("");

    });

    //click devour
    $(".devour").on("click", function(event){
        event.preventDefault();
        console.log("clicked");
        var customerId = "";
        var id = $(this).data("id");

        $.ajax("/api/customers", {
            method : "POST",
            data : {
                customerName : $("#inputCustomer").val().trim()
            }
        })
        .then(function(data){
            console.log("burger was devoured by ", $("#inputCustomer").val().trim());
            // data = dbCustomer.dataValues.id
            console.log(data);


            $.ajax("/api/burgers/"+id, {
                method : "PUT",
                data  : {
                    devoured : true,
                    CustomerId : data
                }
            }).then(function(){
                console.log("Devour burger id", id);
                location.reload();
            });
        });
        
        
        
        //$.ajax("/api/burgers/"+id, {
        //    method : "PUT",
        //    data  : newDevoured
        //}).then(function(){
        //    console.log("Devour burger id", id);
        //    location.reload();
        //});
    })

</script>